<div class="form relative rounded-md w-[100%] md:w-[calc(50%-1rem)] min-h-[1300px] md:px-[20px]
            bg-white shadow-lg">
    <div id="c5c2ecde-263d-44e8-bdb6-d131832addc0-47044" class="min-h-[1250px]"></div>
    <link rel="stylesheet" href="https://d3ey4dbjkt2f6s.cloudfront.net/assets/external/work_request_embed.css" media="screen"/>
    <script src="https://d3ey4dbjkt2f6s.cloudfront.net/assets/static_link/work_request_embed_snippet.js" clienthub_id="c5c2ecde-263d-44e8-bdb6-d131832addc0-47044" form_url="https://clienthub.getjobber.com/client_hubs/c5c2ecde-263d-44e8-bdb6-d131832addc0/public/work_request/embedded_work_request_form?form_id=47044"></script>
</div>
